body{
    background-color: rgb(19, 11, 11);
}
/*.container{
    display: flex;
}
.holder{
    flex: 1;
    margin: 1%;
    border-radius: 50%;
}
.holder::before{
    content: "";
    display: inline-block;
    padding-top: 100%;
}
.h1{
    background: blue;
}*/
.container{
    display: flex;
    flex-direction: row;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    background-color: rgb(19, 19, 73);
    border-radius: 100%;
    padding: 2%;
    margin: 3%;
    color: rgb(156, 150, 150);
}
.box{
    background-color: rgba(15, 15, 70, 0.575);
    width: 25%;
    margin: auto;
    margin-top: 15%;
}
p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(156, 150, 150);
    margin: 3%;
}
h1{
    color: rgba(255, 255, 255, 0.863);
    font-weight: 700;
    padding: 2%;
    margin:3% ;
}
.fa-color{
    color: orangered;
    margin:3% ;
}
button{
    background-color: rgba(255, 68, 0, 0.918);
    font-variant: small-caps;
    color: rgba(255, 255, 255, 0.808);
    border: transparent;
    width: 50%;
    margin-left: 25%;
    font-weight: 600;
    padding: 1%;
    
}